<header class="site-header">

  <div class="wrapper">

    <div class="site-heading">
      <span class="site-title">{{ site.title | downcase }}</span>
      {% if site.role %}<span class="site-role">{{ site.role }}</span>{% endif %}
    </div>

    <nav class="site-nav">
      {% for item in site.data.navbar %}
        <a href="{{ item.link }}"{% if page.url == item.link %} class="on"{% endif %}>{{ item.name }}</a>
      {% endfor %}
      <a href="/images/pdf/bjm_cv.pdf" class="socials far fa-file-alt" title="CV"></a>
      <a href="https://github.com/{{ site.socials.github }}" class="socials fab fa-github" target="_blank" title="github"></a>
      <a href="https://twitter.com/{{ site.socials.twitter }}" class="socials fab fa-twitter" target="_blank" title="twitter"></a>
      <a href="https://linkedin.com/in/{{ site.socials.linkedin }}" class="socials fab fa-linkedin" target="_blank" title="linkedin"></a>
    </nav>

  </div>

</header>
